# System files
Thumbs.db
.DS_Store
._.DS_Store
._*

# Local development dependencies.
/.bundle/
/vendor/bundle/

# Generated tool reports.
/.tools/lint/results/
/.tools/module-dependencies/results/
/.tools/validate/results/
/.tools/metadata/results/
/.tools/ruby-lint/results/
/.tools/results/
